
.nosotros{
    height: 100vh;
    background-color: var(--background-color);
    display: flex ;
    flex-direction:column;
    justify-content: center;
    align-items: end;
    padding: 150px;
    
}
.textoNosotros {
    display: flex ;
    flex-direction:column;
    justify-content: center;
    align-items: end;
    color: white;
    padding-bottom: 50px;
      
}

.textoNosotros h1{
    font-size: 30px;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    color: var(--titulos-color);

    text-align: center;
    padding-bottom: 10px;
}
.textoNosotros h5{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    text-align: center  ;
     color: gray
}


