.cardNosotrosContainer{
    width: 100%;
    height: 100vh;
    gap: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content:space-between;
    
    
}
.cardNosotrosCards1{
    background-image: url('../../assets/img/atencion24hs.jpg');
    background-size: cover;
    background-position: center;
    width: 800px;
    height: 532px;
    position: relative;
    overflow: hidden; 
    border-radius: 10px;
    
    box-shadow: 5px 11px 5px -5px rgba(0,0,0,0.26);
    transition: all 1s;
    
}
.cardNosotrosCards1:hover {height: 1500px;
    
    box-shadow: inset 0px -20px 40px rgba(0, 0, 0, 0.5);
}


.cardNosotrosCards2{
    background-image: url('../../assets/img/capture3.jpg');
    background-size: cover;
    background-position: center;
    width: 800px;
    height: 532PX;
    position: relative;
    overflow: hidden; 
    border-radius: 10px;
    box-shadow: 5px 11px 5px -5px rgba(0,0,0,0.26);
    transition: all 1s;
     
}
.cardNosotrosCards2:hover {height: 1500px;
    
    box-shadow: inset 0px -20px 40px rgba(0, 0, 0, 0.5);
}


.cardNosotrosCards3{
    background-image: url('../../assets/img/flotaPropia1.jpg');
    background-size: cover;
    background-position: center;
    width: 800px;
    height: 532PX;
    position: relative;
    overflow: hidden; 
    border-radius: 10px;
    transition: all 1s;
    
    box-shadow: 5px 11px 5px -5px rgba(0,0,0,0.26);
    
}

.cardNosotrosCards3:hover {height: 1500px;
    box-shadow: inset 0px -20px 40px rgba(0, 0, 0, 0.5);
}



.cardNosotrosTexto{
    color:rgb(0, 0, 0);
 
    display: block;
    width: 100%;
    height: 100%;
    padding: 20px;    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    transition: all 1s;
        
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background-image: radial-gradient(circle at 50% 100%, rgba(235, 235, 235, 0.322), rgba(255, 255, 255, 0));
    
    box-shadow: 7px 11px 5px -5px rgba(0,0,0,0.26);
    
 
}

.cardNosotrosTexto:hover{
    color: white;
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    background-image: radial-gradient(circle at 50% 100%, rgba(0, 0, 0, 0.785), rgba(255, 255, 255, 0))
}



.cardNosotrosTexto h1{
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    text-align: center;
    font-size: 45px;
    margin-top: 60px;
    
    
   

}


.cardNosotrosTexto p{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 25px;
    text-align: center;
    overflow: hidden;
    transform: translateY(200px);
   
   

}







.cardNosotrosCards1:hover h1,
.cardNosotrosCards2:hover h1,
.cardNosotrosCards3:hover h1 {
    animation: tamano 1s forwards;
    
    }

    @keyframes tamano{
       100%{ transform: scale(0.8); 
        
    }
    }


.cardNosotrosCards1:not(:hover)  h1,
.cardNosotrosCards2:not(:hover)  h1,
.cardNosotrosCards3:not(:hover)  h1{
        animation: notamano 1s forwards;
        }

        @keyframes notamano{
           0%{transform: scale(0.8);}
        }

.cardNosotrosCards1:hover p,
.cardNosotrosCards2:hover p,
.cardNosotrosCards3:hover p{
    animation: show-img 1s forwards;
    
    }
    @keyframes show-img{
       100%{ transform: translateY(0rem);}
    }

        
.cardNosotrosCards1:not(:hover) p,
.cardNosotrosCards2:not(:hover) p,
.cardNosotrosCards3:not(:hover) p{
    animation: notshow-p 1s forwards;
    }
    @keyframes notshow-p{ 
        0%{ transform:translateY(0rem) ;}
        100%{ transform: translateY(20rem);}
    }






    
         







            
@media (max-width: 600px)  {
    .cardNosotrosContainer {
        transform: scale(0.5);
       display:grid;
       grid-template-columns: repeat(2, 1fr);
       margin: -200px;
    }

    .cardNosotrosCards{
        width: 100%;
    }

   

    
}