@media (min-width: 600px) {
    #navbarNav {
        display: flex ;
        justify-content: space-between;
} 
}
@media (max-width: 600px)  {
    .rinkelBrand{
       
        display: flex;
        justify-content: center;
        
    }
    
    
}



.barra nav{z-index: 100;
    width: 100%;
    height: 60px;
    position: fixed;
    border-bottom: 2px solid ;
    border-color: rgb(152, 28, 28);
    display: flex;
    align-items: center;
    transition: all 1s;
    

}
.barra nav div{
    display: flex;
    justify-content: center;
    width: 100%;
    
    
}
.barra nav div div{
    display: flex;
    justify-content:center;
    
    
    

}

.barra nav div div ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    width: 100%;
    

}
.ulDerecha{
    justify-content: end;
}

.barra nav div div ul li{
    
    display: block;
    color: white;
    text-align: center;
    padding: 10px 20px 1px 20px;
    
    text-decoration: none;
  
}
.barra a{
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    font-weight: 400; 
    text-decoration: none;
    align-self: center;
    color: white;
}
.barra a:hover{
    color: white;
}

.rinkelBrand a{
    color: rgb(252, 252, 252);
    
}

.barra img{
    margin-right: 10px;
    padding-bottom: 5px;
    filter: drop-shadow(1px 2px 1px rgb(15, 15, 15));
    
    

}

.barra nav div div ul li:hover{

    animation: lihover 1s forwards;
    
}



@keyframes lihover{
   100%{ transform: scale(1.1); }
}


.barra nav div div ul li:not(:hover){
        animation: nolihover 1s forwards;
}

@keyframes nolihover{
   0%{ transform: scale(1.1); }

}


.navbar-scrolled{
    
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.722);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

.logo-scrolled {
    transition: opacity 0.5s;
    opacity: 0;
}
   
