.banner2{
    height: 120vh;
    border-radius: 40px;
    display: flex;
    align-items: center;

   

}
#textoeimagen{
    margin-top: -100px;
    display: flex ;
    overflow: hidden;
    justify-content: end;
   
}



#fotoInstitucionalRinkel {
    
    width: 80%;

}
#fotoInstitucionalRinkel img{
    max-width: 100%;
    
    margin-left: 90px;
    
    
}

#textBox {
    width: 62%;
    height: 603px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-image: linear-gradient(to right, rgb(116, 38, 38),rgb(116, 38, 38),rgb(116, 38, 38) , rgba(255, 255, 255, 0));

    left:0;
}


.banner2 p{
    padding: 30px;
    font-size: 35px;

    font-family: "Titillium Web", sans-serif;
margin-left: 30px;

font-weight: 400;
color: rgba(255, 255, 255, 0.833);

}


@media (max-width: 600px)  {
    .banner2{
        height: 70vh;
        align-items: start;  
    }
    #textoeimagen{
        display: flex ;
        flex-direction:column;
        justify-content: start;
        
    }
    #fotoInstitucionalRinkel {
    
        width: 100%;
        overflow: hidden;
        
    
    }
    #fotoInstitucionalRinkel img{
        max-width: 130%;
        margin-left: -100px;
        overflow: hidden;
        
        
    }
    
    #textBox {
    width: 100%;
    height: 303px;
    position: relative;
    background-color: rgb(116, 38, 38);

    }
    
            .banner2 p{
                padding: 0px;
                font-size: 20px;
                
                font-family: "Titillium Web", sans-serif;
            margin: 30px;
            
            font-weight: 400;
            color: rgba(255, 255, 255, 0.833);
            
            }
        
}

.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 4s;
    

}


.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition: all 2s;
}


.hidden2{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(100%);
    transition: all 3s;
}


.show2{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition: all 2s;
}

